.navbar {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'navbar__logo navbar__links navbar__share';
    background-color: rgba(0, 0, 0, 0.732);
    position: sticky;
    top: 0;
    position: sticky;
    padding: 20px 25px 20px 25px;
    border-bottom: rgba(255, 255, 255, 0.114) solid 2px;
    margin-bottom: 10px;
}

.navbar__logo {
    //border: green solid 1px;
    grid-area: navbar__logo;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.7em;
}

.navbar__links {
    grid-area: navbar__links;
    //border: red solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

    .navbar__links__link {
        font-family: 'DM Sans', sans-serif;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        margin-right: 20px;
    }

    .navbar__links__link-active {
        font-family: 'DM Sans', sans-serif;
        text-decoration: none;
        font-size: 1.2em;
        margin-right: 20px;
        color: white;
        border-bottom: white solid 1px !important;
    }
}

.navbar__share {
    grid-area: navbar__share;
    //border: orange solid 1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .navbar__links__share {
        font-size: 1.2em;
        cursor: pointer;
        background-color: white;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px 10px 10px;
        border-radius: 40px;
        border: none;
        outline: none;

        .navbar__links__share__icon {
            color: black;
            font-size: 1.6em;
            margin-right: 10px;
        }
    }
}


.navbar__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 0.8em;
        margin-top: 5px;
        color: rgba(255, 255, 255, 0.706);
    }

    .navbar__avatar__userimg {
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
        border: rgb(250, 249, 249) solid 2px;
    }

    .navbar__avatar__user {
        border: white solid 2px;
        border-radius: 50%;
        color: white;
        font-size: 2.5em;
        cursor: pointer;
    }
}

@media only screen and (max-width: 950px) {
    .navbar__links {
        justify-content: flex-start;
    }

    .navbar {
        padding: 20px 50px 20px 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'navbar__logo navbar__share'
                              'navbar__links .';
    }
}

@media only screen and (max-width: 750px) {
    .navbar__links {
        justify-content: flex-start;
    }

    .navbar {
        padding: 20px 10px 20px 10px;
    }
}

@media only screen and (max-width: 500px) { 

    .navbar__logo {
        justify-content: flex-start;
    }

    .navbar__links {
        justify-content: center;
        background-color: rgba(23, 23, 23, 0.478);
        border-radius: 10px;
    }

    .navbar__share {
        justify-content: space-between;
        margin-bottom: 20px;

        .navbar__links__share {
            width: 100%;
        }
    }

    .navbar {
        padding-bottom: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 'navbar__logo'
                            'navbar__share'
                              'navbar__links';
    }
}