.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    position: sticky;
    padding-bottom: 20px;
    border-bottom: rgba(255, 255, 255, 0.114) solid 2px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.navbar__links {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .navbar__links__share {
        font-size: 1.2em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 10px 7px 10px;
        border-radius: 40px;
        border: none;
        outline: none;

        .navbar__links__share__icon {
            color: black;
            font-size: 1.6em;
            margin-right: 10px;
        }
    }

    .navbar__links__link {
        font-family: 'DM Sans', sans-serif;
        text-decoration: none;
        font-size: 1.2em;
        margin-right: 20px;
    }

    .navbar__links__link-active {
        color: white;
        border-bottom: white solid 2px;
        padding: 5px 0 5px 0;
    }
}

.navbar__search {
    flex: 1;
    margin-left: 6em;
    border: white solid 1px;

    float: right;
    background-color: rgb(24, 24, 24);
    //border: rgba(255, 255, 255, 0.141) solid 1px;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    border-radius: 25px;

    .navbar__search__icon {
        color: white;
        font-size: 1.5em;
    }

    input {
        float: right;
        padding: 13px;
        border-radius: 25px;
        width: 100%;
        font-size: 1.3em;
        background-color: rgb(24, 24, 24);
        outline: none;
        border: none;
        color: white;
    }
}

.navbar__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        font-size: 0.8em;
        margin-top: 5px;
        color: rgba(255, 255, 255, 0.706);
    }

    .navbar__avatar__userimg {
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
        border: rgb(250, 249, 249) solid 2px;
    }

    .navbar__avatar__user {
        border: white solid 2px;
        border-radius: 50%;
        color: white;
        font-size: 2.5em;
        cursor: pointer;
    }
}

@media only screen and (max-width: 850px) {
    .navbar__search {
        flex: 1;
    }
}

@media only screen and (max-width: 450px) {
    .navbar__search {
        flex: 1;
    }

    .navbar__links {
        width: 100%;
        .navbar__links__share {
            width: 100%;
        }
    }
}